<meta property="og:type" content="website" />
<meta property="og:title" content="{{ page.title | default(config.site_name) }}" />
<meta property="og:description" content="{{ page.meta.description | default(config.site_description) }}" />
<meta property="og:url" content="{{ page.canonical_url }}" />
<meta property="og:site_name" content="{{ config.site_name }}" />

<meta property="og:image" content="https://rmszk.github.io/assets/pic.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | default(config.site_name) }}" />
<meta name="twitter:description" content="{{ page.meta.description | default(config.site_description) }}" />
<meta name="twitter:image" content="https://rmszk.github.io/assets/pic.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />